.s0 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dibujarYborrar 2.5s linear infinite;
}

@keyframes dibujarYborrar {
  0% {
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: -1000;
  }
}
